# =========================
# DJANGO
# =========================

DJANGO_SECRET_KEY=$a-gssn2z-19o=hp=7i-(136iydumy)331b0h+tf_(*gm5#4oc


# =========================
# CORREO GMAIL
# =========================

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=beatscloud.contacto@gmail.com
EMAIL_HOST_PASSWORD=tanqfqpvotxsswht

DEFAULT_FROM_EMAIL=BeatCloud <beatscloud.contacto@gmail.com>
EMAIL_TIMEOUT=15


# =========================
# STRIPE
# =========================

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=


# =========================
# TRANSBANK
# =========================

TRANSBANK_API_KEY=
TRANSBANK_SHARED_SECRET=
TRANSBANK_INTEGRATION_TYPE=TEST


# =========================
# BASE DE DATOS POSTGRESQL
# =========================

DB_ENGINE=django.db.backends.postgresql
DB_NAME=beatsbd
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=localhost
DB_PORT=5432