{% extends "base.html" %}

{% load static %}

{% block titulo %} Inicio {% endblock %}



{% block contenido %}
<br>

<h1> Sobre Nosotros</h1>
<br>
<p> Nuestra plataforma ofrece una amplia gama de recursos y herramientas para ambos grupos. Para los productores, 
    brindamos un perfil personalizado donde pueden exhibir su experiencia, especialidades y muestras de trabajo. Además, 
    facilitamos la comunicación directa con los artistas interesados, permitiéndoles establecer colaboraciones fructíferas y construir relaciones duraderas.
    <br>
    Por otro lado, los artistas pueden explorar una amplia base de datos de productores con diferentes estilos y enfoques musicales. 
    Nuestra plataforma les permite buscar productores según sus preferencias, ya sea por género, estilo o experiencia previa. Además, 
    proporcionamos un sistema de calificaciones y comentarios para ayudar a los artistas a tomar decisiones informadas al seleccionar a sus colaboradores musicales.
    <br>
    Además de la función principal de conectar productores y artistas, nuestra página web ofrece recursos adicionales para ambos grupos. 
    Los productores pueden acceder a tutoriales, consejos de producción y noticias de la industria musical para mejorar sus habilidades y 
    mantenerse actualizados con las últimas tendencias. Por otro lado, los artistas pueden encontrar información sobre la gestión de proyectos musicales, 
    consejos de marketing y promoción, y asesoramiento profesional para llevar sus carreras al siguiente nivel.
    <br>
    Ya sea que seas un talentoso productor musical en busca de oportunidades emocionantes o un artista inspirado en busca de la ayuda perfecta para realizar tu visión musical, 
    nuestra página web es el lugar ideal para conectar, colaborar y crear música increíble juntos. Únete a nuestra comunidad en línea y descubre un mundo de 
    posibilidades para impulsar tu carrera musical".</p>


{% endblock %}    