{% extends "base.html" %}
{% block titulo %} Pago {% endblock %}

{% block contenido %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h3>Suscripción</h3>
        <p>Detalle: {{ suscripcion.detalle }}</p>
        <p>Precio: ${{ suscripcion.precio }}</p>

        <h3>Pago con Webpay</h3>

        <form method="post" action="{% url 'realizar_pago' suscripcion.id_sus %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning text-dark">
            Continuar a Webpay
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
